- if @driver.invalid?
  = turbo_stream.update "form_body" do
    = fields_for @driver do |form|
      = render "form", form: form
- else
  = turbo_stream.update "modal_main" do
    = render Admin::RemoteModalComponent.new do |modal|
      = render 'show_wrapper', modal: modal, driver: @driver
  - if action_name == "create"
    = turbo_stream.prepend "drivers" do
      = render 'index_row', driver: @driver
    = turbo_stream.remove "no_data"
  - else
    = turbo_stream.replace @driver do
      = render 'index_row', driver: @driver
= admin_turbo_stream_flash